# Python
__pycache__/
*.pyc
*.py[cod]
*.class
*.log
*.egg-info/
.ipynb_checkpoints/
.env
.venv
env/
venv/
.mypy_cache/
*.jar
dist/
.hypothesis

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw
data/interim
data/jigsaw-unintended-bias-in-toxicity-classification.zip
!.gitkeep

# Model
models/transformer_models
